body {
  font-family: Helvetica;
  display: block;
  text-align: center;
  font-size: 14px;
}
.banner {
  background-image: url("resources/images/the-flatiron-building.png");
  background-size: cover;
  background-position: center;
}
